#cal{
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    margin-left: 40%;
    margin-top: 10%;
    
};
#display{ 
    width: 90%;
    font-size: 25px
};
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10px;

   
}
.buttons{
    width: 50px;
    height: 50px;
    margin: 6px;
}